# Ignore bundler config.
/.bundle

# Ignore OS artifacts:
**/.DS_Store

# Ignore version control files:
.git/
.gitignore

# Ignore docker and environment files:
*Dockerfile
**/docker-compose*.yml
.dockerignore

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore rspec examples state file
spec/examples.txt

# Ignore dotenv files
**/*.env
